<div>
  <h2>
    {{ pageTitle }}
  </h2>
  <div>
    <p>
      Please log in using your super cool <strong>access code</strong> you got
      in the mail.
    </p>

    <form action="" method="post">
      <div>
        <label for="accessCode">Access code</label>
        <input
          type="text"
          name="accessCode"
          id="accessCode"
          value="{{ accessCode }}"
        />
        <input type="hidden" name="redirect" id="redirect" value="/code" />
      </div>
      <div>
        <app-forms-button [text]="'Continue'"></app-forms-button>
      </div>
    </form>
  </div>
</div>
